@tailwind base;
@tailwind components;
@tailwind utilities;

.class1{

  background-color: antiquewhite;
  color: rgb(6, 6, 187);
  height: 100vh;
  font-size: x-large;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}
